on:
  issue_comment:
    types: created

jobs:
  update_merge_commit_message:
    if: github.event.issue.pull_request
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        ref: 'main'
        fetch-depth: 20
    - name: Rewrite commit alt
      env:
        TITLE: ${{github.event.issue.pull_request.title}}
        NUMBER: ${{github.event.issue.pull_request.number}}
        URL: ${{github.event.issue.pull_request._links.self.href}}
        BODY: ${{github.event.issue.pull_request.body}}
        SHA: ${{github.event.issue.pull_request.merge_commit_sha}}
      run: |
        ./.github/scripts/merge-pr-with-custom-message.sh
