on:
  issue_comment:
    types: created

jobs:
  debug:
    runs-on: ubuntu-latest
    steps:
    - name: Debug
      run: echo '${{ toJson(github) }}'

  update_merge_commit_message:
    if: ${{github.event.issue.pull_request && contains(github.event.comment.body, '#merge-it') }}
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        ref: 'main'
        fetch-depth: 20
    - name: Merge Script
      id: merge-script
      uses: bdotdub/custom-pr-commit-message
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}

